<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>  <title>BF according school record</title>	
<style type="text/css">
	@media print{
  		.page{
  			min-height:315px;
  			/* margin-bottom:40px; */
  		}
  	}
div {
  width: 90px;
  height: 130px;
  padding: 0px;
  margin-top: 150px;
  margin-left: 70px;
}
.maintain {
color: black;
width: 100%;
margin-left: 15px;
max-width: 690px;
min-width: 470px;
}
.pbf
{
text-align: justify;
text-indent: 70px;
color: black;
font-family: "Times New Roman", Times, serif;
font-size: 23px;
}
</style>
<link rel="stylesheet" type="text/css" href="bf.css"/>
  </head>
  <body>

    <img th:src="@{${bonafideheader}}" title="" class="" style="width: 100%; height: 100%;" ></img>

	<p style="margin-top: -10px;margin-left: 500px;"><h3> Date: </h3></p>
	<p style="margin-top: -40px;margin-left: 560px;"><h3 th:text="${date}"></h3></p> 
	
	<table>
	<div>paste here
	<img th:src="@{${path}}" style="width: 150%; height: 120%;  margin-top:-250px;"></img>
	</div></table>

	<p><h1 style="margin-top: -160px;margin-bottom: 150px;margin-left: 250px;" > Bona Fide Certificate</h1></p>

	<p class="maintain pbf" > It is certified that Master/Miss: <b><a style="color: black" th:text="${name}"/></b> 
	S/o./ D/o. <b><a style="color: black" th:text="${fatherName}"/></b> is the student of our 
	<b>AL-RIZWAN ENGLISH JUNIOR COLLEGE NANDED. He/She was studying in </b>
	<b><a style="color: black" th:text="${className}"/></b> class. 
	for the academic year <b><a style="color: black" th:text="${academicyear}"/></b> 
	His/Her date of Birth is <b><a style="color: black" th:text="${birthdate}"/></b> ( 
	<b><a style="color: black" th:text="${birthinwords}"/> ) </b>. according to our College register record.</p>

</body>
</html>