<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>  <title>BF according school record</title>	
<style type="text/css">
	@media print{
  		.page{
  			min-height:315px;
  			/* margin-bottom:40px; */
  		}
  	}
.maintain {
color: black;
width: 100%;
margin-left: 15px;
max-width: 690px;
min-width: 470px;
}
.pbf
{
text-align: justify;
text-indent: 70px;
color: black;
font-family: "Times New Roman", Times, serif;
font-size: 23px;
}
</style>
<link rel="stylesheet" type="text/css" href="bf.css"/>
  </head>
  <body>
    <img th:src="@{${bonafideheader}}" title="" class="" style="width: 100%; height: 100%;" ></img>
    
    <pre>
	<p style="	margin-top: -50px;"><h3>  Outward No.ARES/Bonafide       /2019-20</h3></p>
	<p style="margin-top: -73px;margin-left: 500px;"><h3> Date: </h3></p>
	<p style="margin-top: -73px;margin-left: 560px;"><h3 th:text="${date}"></h3></p> 
	</pre>

	<h1 style="margin-top: 110px;margin-bottom: 150px;margin-left: 180px;"> Bona Fide Certificate</h1>

	<p class="maintain pbf" > It is certified that Master/Miss: <b><a style="color: black" th:text="${name}"/></b> 
	S/o./ D/o. <b><a style="color: black" th:text="${fatherName}"/></b> is the student of our 
	<b>AL-RIZWAN ENGLISH SCHOOL.</b> He/She is studying in Std.	<b><a style="color: black" th:text="${className}"/></b> for the academic year <b><a style="color: black" th:text="${academicyear}"/></b> 
	Admission No.  <b><a style="color: black" th:text="${addNo}"/></b> His/Her Birth date <b><a style="color: black" th:text="${birthdate}"/></b> recorded on the General Register of the school is______/______/____________________according to our school record.</p>
	<br><br></br></br>
	<center><p style="margin-left:55px;"><h2>Hence this is certificate</h2></p></center>
</body>
</html>