<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>  <title>BF according school record</title>	
<style>
</style>
<link rel="stylesheet" type="text/css" href="bf.css">
  </head>
  <body>
	<img style="width:650px" src="E:\alRizwanPrints\Design\bonofide\bfheaderSchool.png"></img>
	<pre>
	<b><p style="	margin-top: -50px;"><h3>  Outward No.ARES/Bonafide /	/	/2019/20</p>
	<p style="margin-top: -70px;margin-left: 500px;">Date:</p> </h3></b>
	</pre>

	<h1 style="margin-top: 110px;margin-bottom: 150px;margin-left: 150px;"> Bona Fide Certificate</h1></p>
	<p>	<h3 style="padding-left: 1px;	margin-left: 15px;">It is certified that Master/Miss:_______________________________________ </h3></p>
	<p style="margin-left:1px"><h3>S/o./ D/o.___________________________________________is the student of our 
	<br>AL-RIZWAN ENGLISH SCHOOL.He/She is studying in Std.______________<br>for the academic year________
	Admission No.____________His/Her Birth date <br>recorded in the General Register of the school is___/___/____________________<br>according to our school record.</br></p>
	<p style="margin-left:35px;"><br><br>Hence this is certificate</h3><h3></p></h3><br>
</html>