<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>  <title>BF for Science</title>	
<style>
div {
  width: 90px;
  height: 130px;
  padding: 0px;
  border: 1px solid black;
  margin-top: 15px;
  margin-left: 90px;
}
</style>
<link rel="stylesheet" type="text/css" href="bf.css">
  </head>
  <body>
	<img style="width:650px" src="E:\alRizwanPrints\Design\bonofide/science.png"></img>
	<p style="margin-top: -5px;margin-left: 400px;"><b> Date:</p></b>
	<table>
	<div><td></td></div></table>
	<h1 style="margin-top: -50px;margin-bottom: 150px;margin-left: 220px;"> Bona Fide Certificate</h1></p>
	<p class="endpoint">
	<h3 style="padding-left: 1px;	margin-left: 15px;">It is certified that Master/Miss:_________________________________________ </h3></p>
	<p style="margin-left:1px"><h3>S/o./ D/o.__________________________________________________________is the <br>student of our 
	AL-RIZWAN ENGLISH JUNIOR COLLEGE NANDED.He/She is <br>studying in__________________________class.
	for the academic year__________<br>Admission No.____________ His/Her date of Birth is__/__/____(_______________<br>
	______________________________________________________). according to our<br>College register record.</h3><h3></p></h3><br>
</pre>


</html>