<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head> 
<title>Student Id Card</title>	
<style type="text/css">
	@media print{
  		.page{
  			min-height:315px;
  			/* margin-bottom:40px; */
  		}
  	}
.p1{
  margin-left: 97px;
  margin-top: -105px;
  font-size: 10px;
  max-width: 325.03937008px;
  min-width: 204.09448819px;
}
.hidd {
  z-index: -1;
}
.a{
color: #004d99;
}
.b{
color: #660000;
}


</style>
</head>
<body>

    <img th:src="@{${header}}" title="" class="hidd" style="width: 325.03937008px; height: 204.09448819px"/>
	<img th:src="@{${photoUrl}}"  class="" style=" width: 68px; height: 83px; margin-left: -315px; margin-bottom: 16px " />

	<table class="p1">
	<tr><td class="a" >Student's Name </td>
	<td class="b" th:text="${studentsName}"></td></tr>

	<tr><td class="a">Father's Name  </td>
	<td class="b" th:text="${fathersName}"></td></tr>

	<tr><td class="a">Class </td>
	<td class="b" th:text="${className}"></td></tr></table>
	
	<h5 style="margin-left: 230px;margin-top: 25px; color: #000033">Principal</h5>

</body>
</html>
