<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>

.p1{
  margin-left: 150px;
  margin-top: -200px;  
}
.set{
	background-color: blue;
	text-align: center;
}
</style>
<title>ID CARD BACK</title>
</head>
<body>
    <img th:src="@{${header}}" title="" class="" style="width: 100%; height: 100%; "/>
	<h3 class="set">Details of Student</h3>
	<table class="p1">
	<tr>
	<td>Date of Birth :</td>
	<td th:text="${dob}"></td></tr>
	<tr><td>Contact No. :</td>
	<td th:text="${contactNo}"></td></tr>	
	<tr><td>Address :</td></tr>	
	<tr><td>Academic Year :</td>
	<td th:text="${academicYear}"></td></tr>
	</table>
</body>
</html>
