

<!DOCTYPE html>
<html lang="mr">

<head>
<meta charset ="UTF-8"/>
<meta charset="ISO-8859-1"/>
<meta lang="mr"/>

<style>
.vidyatri
{

text-align: center;
font-weight: bold;


}
</style>
<title>Primary TC</title>
</head>
<body class="border">

	<div style='border: 2px solid black; overflow: hidden; display: block'>

		<p class="vidyatri">विद्यार्थी प्रवेश निर्गम प्रमाणे नोंदणी फार्म</p>
		<pre> शाळेचे नांव___                तालुका______               जिल्हा__            पान नं. ()</pre>
		
		<h class="tcno">TC.NO.: <span style='margin-left: 0%'
			th:text="${none}"></span></h>
		<pre> </pre>
	</div>
</body>
</html>
